@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Abril+Fatface&family=Libre+Baskerville:wght@400;700&display=swap');
        
body {
    color: #580a14;
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    background: #580a14;
} 


header {
    background: url('https://i.pinimg.com/736x/99/ee/6c/99ee6c1d403452df302156f9e33ea4ee.jpg') no-repeat center center/cover; /*no repeat: without this the image might repeat vert. & horz... /cover: so it covers the whole page*/
    background-size: cover;
    padding: 20px;
    text-align: center;
}


.iconheader {
margin-top: 20px;
width: 20px;
height: 20px;
transition: 0.3s;
}

.iconheader:hover {
transform: scale(1.2);
opacity: 0.7;
}

.logo{
display: inline-block; /* to make it a block element */
width: 10px; /* Adjust size as needed */
height: auto;
position:absolute; /* Keeps it fixed at the top */
margin-top: 10px;
top: 0; /* Align to the top of the page */
left: 0; /* Align to the left of the page */
padding: 10px; /* Optional: Adds some padding around the logo */
}

.magazine-title {
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
    letter-spacing: 2px;
    color: #580a14;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color:#580a14;
    font-size: 1.1rem;
    font-family: 'Abril Fatface', serif;
}

h2 {
text-align: center;
margin: 20px;
font-size: 25px;
color: #f5e1c8;
}

.filter-bar {
display: flex;
justify-content: center;
gap: 15px;
flex-wrap: wrap;
background: rgb(246, 245, 245, 0.1);
backdrop-filter: blur(5px);
padding: 15px;
border-radius: 20px;
margin: 20px;
}

.dropdown {
position: relative;
}

.dropdown select {
appearance: none;
padding: 10px 15px;
border: 1px solid #f3ebec;
border-radius: 20px;
background: #310101;
color: #f5e1c8;
cursor: pointer;
}

button, .reset-btn {
background: #310101;
color: white;
border: 1px solid #f3ebec;
padding: 10px 20px;
border-radius: 20px;
cursor: pointer;
transition: all 0.3s;
} 


button:hover, .reset-btn:hover {
background: #580a14;
}

.tags {
display: flex;
justify-content: center;
gap: 10px;
flex-wrap: wrap;
margin-top: 15px;
}

.tag {
background: #f5e1c8;
border: 1px solid #580a14;
padding: 5px 10px;
border-radius: 15px;
font-size: 14px;
cursor: pointer;
}

.gallery {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
gap: 15px;
padding: 20px;
}

.gallery img {
width: 100%;
border-radius: 15px;
opacity: 0;
transform: translateY(10px);
transition: all 0.5s ease;
}

.gallery img.show {
opacity: 1;
transform: translateY(0);
}

.loader {
border: 4px solid #290101;
border-top: 4px solid #f5e1c8;
border-radius: 50%;
width: 40px;
height: 40px;
animation: spin 1s linear infinite;
margin: 20px auto;
display: none;
}

.loader.show {
display: block;
}

footer ul {
list-style: none; /* Remove bullet points */
padding: 0;
font-size: 16px;
margin: 0;
display: flex; /* Align items in a row */
justify-content: center; /* Center the items */
}

footer li {
display: inline; /* Display list items in a row */
margin: 0 15px;
}

footer a {
color: rgb(32, 0, 0);
text-decoration: none;
font-size: 16px;
}

footer a:hover {
text-decoration: underline;
}

.icon {
width: 30px;
height: 30px;
margin: 0 10px;
transition: 0.3s;
}

.icon:hover {
transform: scale(1.2);
opacity: 0.7;
}

footer {
      text-align: center;
      color: #580a14;
      background: url('https://i.pinimg.com/736x/99/ee/6c/99ee6c1d403452df302156f9e33ea4ee.jpg') no-repeat center center/cover; /*no repeat: without this the image might repeat vert. & horz... /cover: so it covers the whole page*/
      background-size: cover;
      width: 100%;
      padding: 6px;
      position: relative;
      left: 0;
      bottom: 0;
      text-align: center;
    }

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

